body {
	background:#D25750;
	margin :0;
}
header {
	background:#479D90;
	color: white;
	padding:15px 15px 0px 15px;
}
header h1 {
	margin:0;
	display:inline;
}
nav ul{
	padding:0 0 0 15px;
	margin:0;
	display:inline;
}
nav ul li{
	background:black;
	color:white;
	display:inline-block;
	list-style-type: none;
	padding:5px 15px;
	margin:0;
}
nav ul li a{
	color:white;
}
.row {
	clear:both;
}
.col {
	font-size: 1.875em;
	background:grey;
	border-radius:5px;
	color:white;
	padding:10px.5px;
	float:left;
	margin:1%;
	width:45%;
}
h3 {
	text-align: right;
	clear:both;
}
#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
footer {
	clear:both;
}
/*"CTRL+SHIT+/" pentru comentarii CSS */
/* <!-- comentariu --> pentru comentarii in HTML */