*{
	box-sizing:border-box;
}

h1{
	color:#FFFFFF;
	text-shadow: 1px 1px 1px;
	font-size: 50px;
}

h2{
	text-shadow: 1px 1px 1px;
	display:block;
	text-align:center;
}

body{
	background:url("https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpoper.com%2Fimages%2F00%2F31%2F04%2F58%2Fmathematics-chalkboards_00310458.jpg&f=1");

}
.try{
	text-align:right;
}

.year{
	font-weight: bolder;
	text-align: left;
}

.info{
	text-decoration: underline;
}

#body{
	padding:20px;
	background:white;
	border:3px solid grey;
}
#sidebar{
	display:inline-block;
	background-color: #C4C0BF; /*lightgray*/
	float:left;
	width:20%;
	border:3px ridge black;
	text-align:left;
	margin:2px;
	padding:0;
}

.img-cantor{
	width:100%;
	height:30%;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.aleph{
	width:10%;
	height:10%;
	float:right;
}
#content{
	display:inline-block;
	width:78%;
	text-align:left;
	margin:0px 5px;
	border-style: groove;
}

.expl1,.expl2,.expl3{
	width:30%;
	display:inline-block;
}
#footer{
	float:right;
	display:block;
}

cite{
	margin:20px;
}
#cite-header{
	color:#FFFFFF;
	font-size:15px;
	font-weight: 600;
	float:right;
}

#brief{

}

a{
	text-decoration: none;
}
a:link{
	color:darkblue;
}
a:visited{
	color:gray;
}